<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Allarmi Previsionali - ANAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/allarmi.css') }}">
</head>
<body>
    <div class="top-bar">
        <img src="{{ url_for('static', filename='images/LOGO_ANAS_FS_RGB.png') }}" alt="Logo ANAS">
    </div>
    <div class="container">
        <header>
            <h1>Allarmi Previsionali per Strada <span id="strada-nome"></span></h1>
            <a href="/previsionale" id="back-button">Torna alla Mappa</a>
        </header>
        <div id="loading">Caricamento allarmi in corso...</div>
        <div id="no-alerts" style="display: none;">Nessun allarme previsionale per questa strada.</div>
        <div id="alerts-container"></div>
    </div>

    <script src="{{ url_for('static', filename='js/allarmi.js') }}"></script>
</body>
</html>