<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Seleziona Modalità</title>
  <style>
    body {
        font-family: Arial, serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
      gap: 20px;
    }

    button {
      padding: 15px 30px;
      font-size: 20px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Benvenuto</h1>
  <button onclick="location.href='/storico'">Storico</button>
  <button onclick="location.href='/previsionale'">Previsionale</button>
</body>
</html>
