<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ANAS - Storico Dati</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/storico_nuovo.css') }}">
</head>
<body>
  <header id="main-header">
      <img src="{{ url_for('static', filename='images/LOGO_ANAS_FS_RGB.png') }}" alt="Logo ANAS Gruppo FS Italiane"/>
  </header>

  <div id="map"></div>

  <div id="viewSwitch">
    <button class="active">Storico</button>
    <button onclick="location.href='/previsionale'">Previsionale</button>
  </div>

  <div id="sidebar">
    <label for="stradaSelect">1. Seleziona Strada</label>
    <select id="stradaSelect">
      <option value="A90">A90</option>
      <option value="SS51">SS51</option>
      <option value="SS675">SS675</option>
    </select>
    <label for="kmSearch">2. Seleziona Tratto</label>
    <div id="search-container">
        <input id="kmSearch" placeholder="Cerca o clicca un tratto sulla mappa..." type="text"/>
        <div id="segmentList"></div>
    </div>
    <div id="selected-tratto-display">Nessun tratto selezionato</div>

    <label for="startDate">3. Data inizio (opzionale)</label>
    <input type="date" id="startDate"/>
    <label for="endDate">4. Data fine (opzionale)</label>
    <input type="date" id="endDate"/>
  </div>

  <footer id="main-footer">
    &copy; 2024 ANAS S.p.A. | Società del Polo Infrastrutture del Gruppo FS Italiane - P.IVA 01122701000
  </footer>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="{{ url_for('static', filename='js/storico_nuovo.js') }}"></script>
</body>
</html>